
        
nav{background-color: purple; } 

/*section*/

a{ 
        color:white;
        font-family:'Tahoma'; 
        font: size 10px;
}

h1{
    font-size: 50px;
    font-family:Arial;
    font-weight: bolder;
    text-align: center;
}
.btn {
    background-color: rgb(5, 1, 255);
    color: white;
    width: 10em;
    border-radius: 30px;
    padding: 10px;
    margin:10px;
    }


article{margin: 0.5 em; background-color: white; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.imagen_fondo{

    background-image: url(/SRC/fondo\ canva.jpg);
    background-attachment: fixed;
    background-size:cover;
    height: 200vh;
}

aside { 
    position: relative;
    float:left;
    width:170px; 
    top: 0px;
    bottom: 0px;
  }

/*para llamar un selector con class, para varios elementos se usa un #*/
.listas{background-color: black; float:left; }
/*para llamar un selector con id, para un solo elemento, se usa un #*/

footer{background-color:purple; color: aliceblue;}
em{text-align:center;}

form{background-color: rgba(136, 133, 133, 0.50);}

.container{
    justify-content: space-around;
    flex-wrap: wrap;
    color: darkslategray;
    padding: 0 16px;
    
 }



 .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px;
    padding: 30px;
  }