*{margin:auto; padding:0;}
        body{


        }
        nav{background-color: purple; color: white; }
        
        /*section*/

        a{ color:white;
             font-family:'Tahoma'; 
             font: size 10px;
        }

        h1{
            font-size: 30px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .fcc-btn {
            background-color: rgb(1, 183, 255);
            color: white;
            padding: 15px 25px;
            border-radius: 10px;
          }


        article{margin: 0.5 em; background-color: white; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
        
        aside{width:25%; float:right; }

        /*para llamar un selector con class, para varios elementos se usa un #*/
        .listas{background-color: black; float:left; }
        /*para llamar un selector con id, para un solo elemento, se usa un #*/
  
        footer{background-color:purple; color: aliceblue;}
        em{text-align:center;}